<div class="content-container">
  <router-outlet></router-outlet>
</div>


   <!--
   <div class="questions-page-container">
    <app-questions-page></app-questions-page>
   </div>
   -->

  <!--
   <div class="stats-container">
    <app-questions-stats></app-questions-stats>
  </div>

  <div class="question-container">
    <app-question></app-question>
  </div>

  <div class="table-container">
    <app-questions-table></app-questions-table>
  </div>

  <div class="study-container">
    <app-study></app-study>
  </div>
</div>
  -->
