<div class="content-container">
  <div class="study-form-container">
    <app-study></app-study>
  </div>

  <div class="study-table-container">
    <app-studies-table></app-studies-table>
  </div>

  <div class="study-stats-container">
    <app-studies-stats></app-studies-stats>
  </div>

  <div class="study-stats-per-theme-container">
    <app-studies-stats-per-theme></app-studies-stats-per-theme>
  </div>

  <div class="navigation-container">
    <button class="return-home-button" routerLink="/">Return to Home</button>
  </div>
</div>

