.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  grid-template-rows: auto auto auto; /* Three rows */
  gap: 16px; /* Space between items */
  padding: 16px; /* Padding around the content */
}

.study-form-container {
  grid-column: 1; /* First column */
  grid-row: 1; /* First row */
}

.study-table-container {
  grid-column: 2; /* Second column */
  grid-row: 1; /* First row */
}

.study-stats-container {
  grid-column: 1; /* First column */
  grid-row: 2; /* Second row */
}

.study-stats-per-theme-container {
  grid-column: 2; /* Second column */
  grid-row: 2; /* Second row */
}

.navigation-container {
  grid-column: 1 / 3; /* Span across both columns */
  grid-row: 3; /* Third row */
  display: flex;
  justify-content: center; /* Center the button horizontally */
  align-items: center; /* Center vertically if needed */
}

.return-home-button {
  padding: 8px 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
}

.return-home-button:hover {
  background-color: #0056b3;
}

